html, body {
	position: absolute;
height: 100%;
margin: 0;
padding: 0;
width: 98%;
left: 1%;
}

#map {
	position: absolute;
	height: 100%;
	width: 65%;
}

#left {
	width: 65%;
}

#right {
	position: absolute;
	width: 30%;
	left: 70%;
}

.title-contain{
	margin-left: 5%;
	margin-right: 5%;
}

.right-contain{
	margin: 5%;
}