html, body {
	margin: 0;
	padding: 0;
	height:100%;
}

.main {
	min-height:100%;
	position: relative;
}

.themap {
	width:33.3333%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
	z-index: 10;
}

.navbar {
	position: absolute;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 11;
	background-color: #808080;
	opacity: 0.85;
}
.navbar:hover {
	opacity: 1.0;
}

.navbar-element {
	display:inline-block;
	margin:10px;
}

.settings-div {
	width:12%;
}

.settings-menu-background {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.0);
	z-index:12;
}

.settings-menu-container {
	width: 25%;
	min-width:222px;
	max-width:300px;
	background-color: #FFF;
	position: absolute;
	top: 42px;
	padding-top:1px;
	border-radius:2px;
	border:1px solid white;
	z-index:13
}

.settings-menu {
	display:inline-block;
	border-bottom:.05em solid white;
	background-color: #CFDBDA;
	padding-top:1em;
	padding-bottom: 1em;
	margin-left:0.05em;
}

.settings-menu.about {
	width:99%;
	text-align: center;
	cursor:pointer;
	background-color: #3B66FF;
	color: white;
}

.settings-menu.item {
	width:60%;
}

.settings-menu.option {
	width:19%;
	text-align: center;
	cursor:pointer;
	border-left:.05em solid white;

}

.settings-menu.option.active{
	background-color: #3B66FF;
	color: white;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
	position:absolute;
	top:-5px;
	left:5px;
}

.places-div {
	width:57%;
}

.other-div {
	width:50px;
	margin:0px;
}

.places-input {
	width:100%;
	height:23px;
}

.loading-image {
	position:fixed;
	bottom:8px;
	right: 0;
	z-index:11;
}

table.infowindow {

}

table.infowindow thead  th {
	color: white;
	background-color:#444;
}

table.infowindow tbody th {
	text-align:left;
}

.date-picker-background {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.6);
	z-index:12;
}

.date-picker-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 300px;
	top: 25%;
}

.datepicker-maxdatemessage {
	margin-top: 10px;
	background-color: rgb(221, 221, 221);
	text-align: center;
	padding: 5px;
	border-radius: 2px;
	width: 100%;
	color: #444;
}

/* Date at a Glance */
.daag-container {
	height: 43px;
    width: 35px;
    background-color: #FFF;
    position: relative;
    border-radius: 2px;
    border-bottom: 1px solid #444;
	cursor:pointer;
	margin-left: auto;
	margin-right: auto;
}

.daag-month {
    display: inline-block;
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.3em;
}

.daag-day {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.daag-year {
    display: inline-block;
    color: #FFF;
    background-color: #333;
    font-size: 0.5em;
	padding-top:0.1em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.2em;
}