body {
    width: 100%;
    height: 100%;
    background-image: url("../image/background.jpg");
    background-position: 0px 50px;
    background-attachment: fixed;
    background-size: 100% 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 778px) {
	.navbar-icon {
		display: none;
	}
	#current-date{
		display: none;
	}
	#weather-icon {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	#current-date {
		position: absolute;
		font-size: 16px;
		margin-top: 14px;
		margin-right: 60px;
		right: 0px;
		color: white;
	}
	#weather-icon {
		position: absolute;
		margin-top: 0px;
		margin-right: 10px;
		right: 0px;
	}
	#current-weather {
		display: none;
	}
}

.navbar-icon {
	position: relative;
	float: left;
	overflow: hidden;
	max-height: 50px;
	max-width: 50px;
}

#map{
	position: absolute;
    height: 90%;
    width: 70%;
    left: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 15px;
}

.side-menu{
	position: absolute;
	left: 70.3%;
	height: 90%;
	width: 30%;
	padding: 5px 13px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 15px;
}

#menu-cover {
	position: absolute;
	padding: 15px 25px 15px;
	width: 93%;
	height: 91%;
	background-color: #eee;
	font-size: 14px;
	overflow: scroll;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.multi {
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count: 2;
}

@media screen and (min-width: 1100px) {

	#current-date {
		position: absolute;
		font-size: 16px;
		margin-top: 14px;
		margin-left: 51%;
		margin-right: 90px;
		right: 85px;
		color: white;
	}

	#weather-icon {
		position: absolute;
		margin-top: 0px;
		margin-right: 5px;
		right: 10px;
	}

	#current-weather {
		position: absolute;
		font-size: 16px;
		margin-top: 14px;
		right: 18px;
		margin-right:45px;
		color: white;
	}
}

.side-menu li {
	border-style: ridge;
	border-width: 1px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #dbdbdb;
}

.intro-section h1, h3 {
	text-shadow: 2.5px 1.5px #f6f6f6;
}

.radar-chart {
	padding-top: 30px;
	visibility: hidden;
}

#radar-chart-bi {
	position: relative;
	top: 10px;
	left: -53px;
}

#radar-chart-cs {
	position: relative;
	top: 10px;
	left: -53px;
}

#get-direction {
	visibility: hidden;
}

.store-section h1 {
	text-shadow: 2.5px 1.5px #f6f6f6;
}

.store-section th {
	text-align: center;
}

.store-section thead {
	background-color: white;
}

.store-section tbody {
	background-color: #ffffe6;
	opacity: 0.8;
	color: black;
}


