html, body{height:100%;}
body{color:#fff; font-family: 'Open Sans', sans-serif; font-weight: 300; background: url(../images/farm.jpg) no-repeat center 0; background-size: cover;}
.header{background: #dacd2b; padding: 20px 0;}
.header h3{margin: 20px 0; font-weight: 300; font-size: 32px;}
.button-block{padding: 45% 0 0;}
.btn.btn-primary{background: none; border: 2px solid #dacd2b; padding: 10px 25px; border-radius: 0; font-size: 20px; position: relative; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
.btn.btn-primary:hover,.btn.btn-primary:active{background: none;border: 2px solid #dacd2b;}
.btn:after {content: ''; position: absolute; z-index: -1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; width: 100%;
    height: 0; top: 0; left: 0; background: #dacd2b;}
.btn:hover:after, .btn:active:after {height: 100%;}
